* {
	text-decoration: none;
	object-fit: cover;
}
.fas {
	margin-right: 5px;
}

.main-color {
	color: #00dad6;
	font-weight: bold;
}
.main-color-bg {
	background-color: #00dad6;
}
.secondary-color {
	color: #bfbfbf;
}

.btn-all {
	cursor: pointer;
	margin-top: 15px;
	border: none;
	background: linear-gradient(
		90deg,
		rgba(0, 255, 176, 1) 0%,
		rgb(0, 247, 255) 100%
	);
	padding: 15px 55px;
	font-size: 19px;
	font-weight: bold;
	color: white;
}
.btn-all:hover {
	background: linear-gradient(
		90deg,
		rgb(0, 247, 255) 100%,
		rgba(0, 255, 176, 1) 0%
	);
}

.d-block {
	display: block;
}

/* google btn */
.google-btn {
	background: #2f76e9;
	border: none;

	font-size: 19px;
	color: #fff;
	min-width: 180px;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.2s;
	display: block;
	margin: 10px auto;
}
.google-btn:hover {
	background: #1154c0;
}
